__pycache__/
*.pyc
*.pyo
*.pyd
*.so

.cache/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.tox/

build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/

.vscode/
.idea/

.env
.env.*

.ipynb_checkpoints/

output/

Thumbs.db
.DS_Store
